/* --- Container Principal --- */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(135deg, #0D273E, #000);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 14vh;
  overflow: hidden;
}

/* --- Formulário de Adição de Equipamento --- */
.info-container {
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2vh 2vw;
  color: #ffffff;
  font-weight: 500;
  z-index: 1000;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-bottom: 4vh;
}

.form-section:last-of-type {
  border-bottom: none;
}

.form-section-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1vh;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 100%;
}

.form-group label {
  font-weight: bold;
  font-size: 1rem;
  color: white;
  white-space: nowrap;
}

.form-group input[type="text"] {
  padding: 0.8rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 1rem;
}

.form-group input[type="text"]:read-only {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: not-allowed;
}

.form-group input[type="text"]:hover {
  border-color: #666;
}

.form-group input#descricaoSAP,
.form-group input#linhaCarcaca,
.form-group input#materialSAP,
.form-group input#titulo,
.form-group input#fabricante {
  height: 4vh;
}

.form-group button {
  width: 8vw;
  height: 6vh;
  background-color: #00579d;
  border-radius: 1vw 0vw 1vw 0;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  box-shadow: 2px 2px 10px 5px #0000001f;
  transition: all 0.3s ease;
}

.form-group button:hover {
  background-color: #0090c5;
  font-size: 1.4rem;
}

/* --- Responsividade para telas menores --- */
@media (max-width: 768px) {
  .info-container {
    padding: 2vh;
  }

  .form-group {
    width: 100%;
  }

  .form-group input[type="text"] {
    font-size: 1rem;
  }

  .form-group button {
    width: 100%;
  }
}