.container {
    width: 100vw;
    height: 100vh; /* ocupa o restante da tela abaixo do menu */
    /* background-image: url('../img/MEG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .info-split-card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1vh 1vw;
    border-radius: 1vw;
    color: #ffffff;
    font-weight: 500;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease;
    z-index: 1000;
    height: 14vh;
    overflow: hidden;
  }
  
  .info-split-card:hover {
    transform: scale(1.01);
  }
  
  .info-left,
  .info-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3vh;
    height: 100%;
    padding: 0 1vw;
  }
  
  /* Linha divisória entre as partes */
  .info-left {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .info-right {
    align-items: flex-end;
    text-align: right;
  }
  
  .arrow-icon {
    font-size: 1.5vw;
    color: #ffffff;
    transition: transform 0.2s ease;
  }
  
  .info-split-card:hover .arrow-icon {
    transform: translateX(5px);
  }